ROUTER_URL=http://localhost:3001
AGENT_WALLET_SECRET=SAGENT...
STELLAR_NETWORK=testnet
STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
SPENDING_POLICY_CONTRACT_ID=
USDC_ISSUER=GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5
ROUTER_WALLET_PUBLIC=GROUTER...
MAX_PAYMENT_USDC=10
ALLOWED_PAY_TO=
